.cStrip{background-color: rgb(71, 241, 171);
        text-align: center;
        border-style: double;
        width: 500px;
        margin: auto;
        padding: 10px;
        
}


body{background-color: rgb(241, 167, 167);
    }